/* src/styles/about.css */
.about-container {
  position: relative;
  background-image: url("/Images/0_0_1.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  max-width: 800px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #fff;
}
