/* src/styles/footer.css */
.footer-container {
  background-color: rgb(255, 96, 0, 0.8);
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}

.social-icon {
  font-size: 1.5rem;
  vertical-align: middle;
}
