/* src/styles/header.css */
.header-container {
  background-color: rgb(69, 69, 69, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-item:hover {
  color: #60ccdf;
}
